body {
    font-family: 'Arial', sans-serif;
    background-image: url(shrine.png.jpeg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    


.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ca9a9d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.temperature-icon {
    font-size: 36px;
    color: #04283f;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-container input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container .icon {
    font-size: 20px;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.button button:last-child {
    background-color: #e74c3c;
}

.button button:hover {
    background-color: #2980b9;
}

.button button:last-child:hover {
    background-color: #c0392b;
}